/*
DEBUG
*/
/*div {
    border: 1px dotted red;
}*/

/* google fonts */
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-align: center;
/*  -webkit-text-stroke-width: 0.2px;
   -webkit-text-stroke-color: black;*/
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  text-align: center;
  line-height: 0.8;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  line-height: 0.8;
}
/*
reset the browser so no default 
values effect the code
*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    padding-right: 6rem;
    padding-left: 6rem;
    padding: 0;
    margin: 0;
    padding-bottom:2rem;
    min-height: 100%;
/*    border: 2px dotted black;
*/    display: grid;
}


/* The hero image */
.hero-image {
    position: relative;
    width: 100%;
    height: 30rem;
/*    background-color: #f8e71c;*/
    /*background-image: url(../images/temp.JPG);*/
    background-image: url(../images/image.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    opacity: 0.9;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.hero-text p {
  font-size: 1rem;
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  /*background-color: #ddd;*/
  text-align: center;
  cursor: pointer;
  border-radius: 0.3rem;
  font-family: 'Raleway', sans-serif;
  background-color: #7a7a7a;
  font-size: 0.75rem;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.hero-text button:hover {
  background-color: #292929;
  color: white;
}
.hero-text button a {
	text-decoration: none;
	color: black;
}

header {
  display: block;
  background: #7a7a7a;
  padding: 0.15rem;
  margin: 0;
  text-align: center;
  color: white;
}

footer {
  /*position: fixed;*/
  bottom: 0;
  text-align: center ;
  color: grey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100% ;
  background-color: #e1e1e1 ;
  /*margin-top: 1.25rem;*/
}

.text {
  text-decoration: none;
  color: white;
  background-color: #557455;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4.5rem;
  padding: 0;
  margin: 0;
  text-align: relative;
  display: inline-block;
  opacity: 0.8;
  /*border-radius: 0.5rem;*/
  /*border: 1px dotted red;*/
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/*
ADD IN RESTRICTIONS FOR MOBILE RESPONSIVENESS
*/

    
.grid {
  display: grid;
/*    max-width: 100%;  ensures the images span the whole width of the page */
/*  max-width: 800px;  this gives large areas on either side*/
  margin: 0;
  padding: 0;
    /* makes it so there are always 2 columns, each one a single fraction unti wide) */
  /*grid-template-columns: repeat(auto-fill, 30rem, 1fr);*/
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20rem; /*makes all the rows the same height*/
/*  grid-gap: 20px;*/
}

/* specifics for different screen sizes */
@media (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 15rem;
  }
  .hero-image {
    height: 20rem;
    background-repeat: repeat;

  }
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 15rem;
  }
  .hero-image {
    height: 20rem;
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    /*grid-auto-rows: 25rem;*/
  }
  .hero-image {
    height: 30rem;
  }
}

@media (min-width: 1400px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    /*grid-auto-rows: 25rem;*/
  }
  .hero-image {
    height: 40rem;
  }
}

@media (min-width: 1650px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 25rem;
  }
  .hero-image {
    height: 50rem;
  }
}/* items */


/* specific item styles */

.item-1 /*ICARAS*/{
  background-image: url(../images/icaras.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.item-1 :hover {
  opacity: 1;
}
.item-1 .text {
  background-color: #234547;
}
.item-2 /* Anim and Illustrations */{
  background-image: url(../images/bumper.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.item-2 :hover {
  opacity: 1;
}
.item-2 .text {
  background-color: #763838;
}
.item-3 /* Open Up */{
  background-image: url(../images/openup.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.item-3 :hover {
  opacity: 1;
}
.item-3 .text {
  background-color: #5d89d4;
}
.item-4 /* comBat*/{
  background-image: url(../images/combat-series/3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.item-4 :hover {
  opacity: 1;
}
.item-4 .text {
  background-color: #4c3763;
}
.item-4 a {
  text-decoration: none;
  color: white;
}
.item-5 /*dryad*/{
background-image: url(../images/dryad.JPG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    /*-webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;*/
}
.item-5 :hover {
  opacity: 1;
}
.item-5 .text {
  background-color: #557455;
}
.item-5 a {
  text-decoration: none;
  color: white;
}

.item-6 /* generative book */{
background-image: url(../images/generative-book.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.item-6 :hover {
  opacity: 1;
}
.item-6 .text {
  background-color: #6a6d35;
}
.item-6 a {
	text-decoration: none;
	color: white;
}

.item-7 /* Manifesto*/{
background-image: url(../images/manifesto.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.item-7 :hover {
  opacity: 1;
}
.item-7 .text {
  background-color: #987575;
}
.item-8 /*more soon*/{
background-image: url(../images/T_ego.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
/*.item-8 :hover {
  opacity: 1;
}*/
.item-8 .text {
  background-color: #55979c;
}



